body {
  display: grid;
  margin: 0;
}

/*==== SIDEBAR ==== */
.sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: rgb(24, 3, 80);
  color: white;
}
.title {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.dashboard-title {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li a {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.sidebar svg {
  height: 1.2em;
  padding-right: 20px;
}
