body {
  display: grid;
  margin: 0;
}

/*==== SIDEBAR ==== */
.sidebar {
  display: grid;
  height: 100vh;
  width: 20vw;
  position: fixed;
  background-color: rgb(0, 255, 221);
}
.nav1,
.nav2 {
  display: grid;
}
