:root {
  --theme-color1: #14532d;
  --theme-color2: #166534;
  --theme-color3: #15803d;
  --theme-color4: #16a34a;
  --theme-color5: #22c55e;
}
html {
  font-family: "Spline Sans", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}
body {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  margin: 0;
}

/*==== SIDEBAR ==== */
.sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: var(--theme-color1);
  color: white;
  grid-area: sidebar;
  padding: 2em 4em 2em 1.5em;
}
.title {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.dashboard-title {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li a {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.sidebar ul li a:hover {
  background-color: rgb(0, 69, 87);
}
.sidebar svg {
  height: 1.2em;
  padding-right: 20px;
}

.header {
  display: grid;
  grid-template: auto auto / 2fr 1fr;
  grid-area: header;
  padding: 1em 3em;
  box-shadow: 1px 1px 1px 1px rgb(134, 134, 134);
}
.user-info {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  justify-content: flex-end;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-right: 2em;
  margin-bottom: 1em;
}
.search-bar input {
  flex: 1;
  height: 1.2em;
  font-size: 1.2em;
  border: none;
  background: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 0 10px;
}
.profile {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
}
.greeting h3 {
  margin: 0;
  padding-top: 0.25em;
}
.greeting {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}
.header-buttons button {
  width: 7em;
  padding: 0.5em;
  border: none;
  font-size: 1em;
  border-radius: 15px;
  background-color: var(--theme-color3);
  color: white;
}
.header-buttons button:hover {
  background-color: var(--theme-color1);
}
.profile img {
  height: 2em;
  border-radius: 100%;
  margin: 0 20px;
}
.greeting img {
  height: 4em;
  border-radius: 100%;
}

.search-bar button,
.user-info button {
  background: none;
  border: none;
}

/***  MAIN ***/
.project img {
  width: 12em;
  padding: 0 10px 10px;
}
.project h4 {
  margin: 0;
  padding: 10px;
}
.project {
  border-left: 10px solid var(--theme-color2);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(134, 134, 134);
}
.project-container {
  resize: both;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
}
.projects {
  padding: 1em 2em;
}

.announcement-container {
  box-shadow: 1px 1px 1px 1px rgb(134, 134, 134);
  padding: 0.5em 2em;
  border-radius: 10px;
}
.announcement-container > div {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}
.announcement-container > div:last-child {
  border-bottom: none;
  padding-bottom: 0.5em;
}
.trending img {
  width: 3.5em;
  border-radius: 100%;
}
.trending p {
  margin: 5px;
}
.training-container > div {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.25em;
}
.trending {
  padding: 1em 0;
}
.training-container {
  box-shadow: 1px 1px 1px 1px rgb(134, 134, 134);
  padding: 2em;
  border-radius: 10px;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.right-section {
  margin-right: 3em;
  padding: 1em 0;
}
